.idea/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

.env
.venv
env/
venv/
ENV/

*.log
*.pot
*.pyc
__pycache__
app/db.sqlite3
media

.mypy_cache/

dist/
lib/
lib64/
build/
*.manifest
*.spec